body{
    background-image: url(../img/social.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#miCanvas{
    border: dotted 5px yellow;
    background-color: lightgray;

}
#imagen-container img {
    display: none;
  }
  .fa-facebook::before {
    content: "\f09a";
  }